@font-face {
	font-family: Amicable;
	src: url(fonts/perfectlyamicable.ttf);
} 
@font-face {
	font-family: 'Open Sans', sans-serif;
}

 @font-face {
	font-family: RalewayBold;
	src: url(fonts/Raleway-Bold.ttf);
} 

 @font-face {
	font-family: RalewayRegular;
	src: url(fonts/Raleway-Regular.ttf);
} 

html {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-family: Open Sans;
	}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
	
	color: #fff;
	font-family: RalewayBold;
}

.mainnavigation {
	width:250px;
	z-index: 9999;
	background-color: #4B4841;
	border-right:2px solid grey;
	height:100%;
	position: fixed;
	font-family: Open Sans;
	color: #fff;
	list-style-type: none;
}

.mainnavigationopen {
	width:250px;
	z-index: 9999;
	background-color: #4B4841;
	height:100%;
	position: fixed;
	font-family: Open Sans;
	border-right:2px solid grey;
	left:0px;
	color: #fff;
	list-style-type: none;
}

#mainnavigation ul {
	list-style-type: none;
}



#maincontent1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-image:url(img/background.jpg);
	background-size:cover;

}

#introduction {
	margin: 0 auto;
	height:50%;
	width:50%;
	top:35%;
	position: relative;

}


#calltoaction {
	margin: 0 auto;
	height:5%;
	width:70%;
}

#calltoaction .introbutton {
	margin-right:30px;
	padding:15px 15px 15px 15px;
	width:150px;
	background-color: #F07766;
	color:#625E55;
	font-family: RalewayBold;
	border:2px solid #625E55;
}

#introduction h4 {
	color:#fff;
	font-family: RalewayBold;
}

#maincontent2 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	
}

#maincontent2 h1 {
	margin-left: 390px;
	margin-top: 75px;
}

#maincontent2 #leftcontent2 {
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #F07766;
	outline:2px solid grey;
}

#maincontent2 #rightcontent2 {
	position: absolute;
	width: 50%;
	height: 100%;
	left:50%;
	background-image: url(img/wood.jpeg); 
	background-size: cover;
	outline:2px solid grey;
}


#maincontent3 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;

}

#maincontent3 h1 {
	margin-left: 390px;
	margin-top: 75px;
}

#maincontent3 #leftcontent3 {
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: url(img/wood.jpeg); 
	background-size: cover;
	outline:2px solid grey;
	
}

#maincontent3 #rightcontent3 {
	position: absolute;
	width: 50%;
	height: 100%;
	left:50%;
	background-color: #F07766;
	outline:2px solid grey;
	
}


#maincontent4 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
}

#maincontent4 h1 {
	margin-left: 390px;
	margin-top: 75px;
}

#maincontent4 #leftcontent4 {
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
	background-color: #F07766;
	outline:2px solid grey;
}

#maincontent4 #rightcontent4 {
	position: absolute;
	width: 50%;
	height: 100%;
	left:50%;
	background-image: url(img/wood.jpeg); 
	background-size: cover;
	outline:2px solid grey;
}


footer {
	height: 250px;
	position: relative;
	width: 100%;
	background-color: #625E55;
	border-top:5px solid grey;
	
}