

@font-face {
	font-family: Amicable;
	src: url(fonts/perfectlyamicable.ttf);
} 
@font-face {
	font-family: 'Open Sans', sans-serif;
}

 @font-face {
	font-family: RalewayBold;
	src: url(fonts/Raleway-Bold.ttf);
} 

 @font-face {
	font-family: RalewayRegular;
	src: url(fonts/Raleway-Regular.ttf);
} 

html {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-family: Open Sans;
		position: relative;
    	overflow-x: hidden;
	}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
	
	color: #fff;
	font-family: RalewayBold;
}

p {
	font-size:18px;
	font-family: Open Sans;
}
/*
.mainnavigation {
	width:250px;
	z-index: 9999;
	background-color: #4B4841;
	border-right:2px solid grey;
	height:100%;
	position: fixed;
	font-family: Open Sans;
	color: #fff;
	list-style-type: none;
}

.mainnavigationopen {
	width:250px;
	z-index: 9999;
	background-color: #4B4841;
	height:100%;
	position: fixed;
	font-family: Open Sans;
	border-right:2px solid grey;
	left:0px;
	color: #fff;
	list-style-type: none;
}

#mainnavigation ul {
	list-style-type: none;
}
*/


.row {
	margin:0;
	padding:0;
	margin-bottom:25px;
	margin-top:25px;
	padding-bottom:50px;
}
/*
.container-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(img/wood.jpeg);
	background-size: cover;
	background-position: fixed;
	
}
*/
@media only screen and (min-width : 320px) {


#maincontent1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-image:url(img/background.jpg);
	background-size:cover;

}

.readmorebutton {
	background-color: #F07766;
	width: 120px;
	height:50px;
	border:4px solid #625E55;
}

.readmorebutton a {
	color:#625E55;
	text-decoration: none;

}

.readmorebutton a:hover {
	color:#fff;
	background-color:#625E55;
	padding:8px 11px 8px 11px;
}

#introduction {
	background-color: #f07766;
	height:300px;
	padding-top:10px;
	position: relative;
	top:150px;
	}


#calltoaction {
	margin-bottom:45px;
	position: absolute;
	top:270px;
	left:110px;
}



#calltoaction .introbutton {
	margin-right:10px;
	width:190px;
	height:50px;
	background-color: #F07766;
	font-family: RalewayBold;
	border:4px solid #625E55;
}

#calltoaction .introbutton a {
	color:#625E55;
	font-size:18px;
	text-decoration: none;
	padding: 8px 19px 8px 19px;
}


#calltoaction .introbutton a:hover {
	color:#fff;
	background-color: #625E55;
	
}

#introduction h4 {
	color:#fff;
	font-family: RalewayRegular;
}

#introduction h1 {
	color:#fff;
	font-size:5em;
}

#maincontent2 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #F07766;
}

#maincontent2 .row {
	margin:0;
	padding: 0;
	margin-top:;
	width:100%;
}

#maincontent2 h1 {
	
}

#maincontent2 #leftcontent2 {
	background-color: #F07766;
	outline:2px solid grey;
	padding-bottom:25px;
	padding-top:25px;
	
}

#maincontent2 #rightcontent2 {
	height: 100%;
	background-image: url(img/wood.jpeg);
	background-size: cover;
	outline:2px solid grey;
	
}

#maincontent2 #portfolioitem {
	background-color:#F07766;
	margin:55px 20px 45px 20px;
	height:335px;
	width:370px;
	padding-top:15px;
	padding-right:5px;
	position: relative;
	display: inline-block;
}


#portfolioitem h3 {
	color:#625E55;
	margin-top:26px;
}

#portfolioitem .row {
	width:100%;
	height:120px;
}

#maincontent2 #portfolioitem img {
	max-width:100%;
	height:160px;
	
}


#maincontent3 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #F07766;
	top:25px;

}

#maincontent3 .row {
	margin:0;
	padding: 0;
	width:100%;
}

#maincontent3 h1 {
	
}
#maincontent3 #leftcontent3 {
	background-color: #F07766;
	outline:2px solid grey;
	padding-bottom:25px;
	padding-top:25px;
	position: relative;
	
}


#maincontent3 #rightcontent3 {
	height: 100%;
	background-image: url(img/wood.jpeg); 
	background-size: cover;
	outline:2px solid grey;

}

#maincontent3 #profielitem {
	padding-top:5px;
	padding-bottom:25px;
}

#profielitem img {
	width:100%;
	height:450px;
}

#profielitem .readmorebutton {
	position: absolute;
	left:485px;
	top:32px;

}


#maincontent4 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #F07766;
	top:50px;
	
	}

#maincontent4 .row {
	margin:0;
	padding: 0;
	width:100%;
}

#maincontent4 h1 {
	
}

#maincontent4 #leftcontent4 {
	background-color: #F07766;
	outline:2px solid grey;
	padding-top:25px;
	padding-bottom:25px;
	
}

#maincontent4 #rightcontent4 {
	height:150%;
	background-image: url(img/wood.jpeg); 
	background-size: cover;
	outline:2px solid grey;

}

#maincontent4 #blogitem {
	padding-top:25px;

}

#maincontent4 #blogitem:last-child {
	padding-bottom:100px;
}

#singlepost #blogitem:last-child {
	padding-bottom:400px;
}

#blogitem img {
	width:70%;
	height:250px;
}

#blogitem .readmorebutton {
	position: absolute;
	left:485px;
	top:32px;

}

#contact {
	background-color:#fff;
	width: 100%;
	height:550px;
	position: relative;
	top:230px;
	font-family: Open Sans;
}

#contact h1 {
	color:#1c1c1c;
	font-family: RalewayBold;
}

#contactform {
	width: 100%;
	height:100%;
	position: absolute;
	background-color:#fff;
	padding-left:0px;
	

}




#footer {
	height: 220px;
	position: fixed;
	width: 100%;
	background-color: #625E55;
	border-top:5px solid grey;
	bottom:0;
	}


 }

 #footer ul, h1 {
 	margin-left:0px;
 	margin-right:0px;
 }

 #footer ul li {
 	list-style-type: none;
 	
 }

 #footer ul li a:hover {
 	color:#f07766;
 	text-decoration: none;
 }


 #footer ul li a {
 	color:#fff;
 	font-family: RalewayRegular;
 }

 #footer ul li img {
 	width:25px;
 	height:25px;
 }
 
 #footer .row div {
 	display: inline-block;
 	height:100%;
 	 }

 #footer #socialmediaicons li {
 	margin-top:5px;
 	position: relative;
 	top:27px;
 	
 }


/* MEDIA QUERIES ABOVE 768px */


@media only screen and (min-width : 768px) {




#introduction {
	background-color: #f07766;
	height:300px;
	padding-top:10px;
	position: relative;
}

#introduction h1 {
	font-size:4em;
}

#calltoaction {
	margin-bottom:25px;
	position: absolute;
	top:170px;
	left:15px;
}

#calltoaction .introbutton {
	margin-right:30px;
	width:250px;
	height:70px;
	background-color: #F07766;
	font-size:20px;
	font-family: RalewayBold;
	border:4px solid #625E55;
}

#calltoaction .introbutton a {
	color:#625E55;
	font-size:25px;
	text-decoration: none;
	padding:12px 23px 12px 23px;
}

#calltoaction .introbutton a:hover {
	color:#fff;
	background-color:#625E55;
}


#maincontent2 #portfolioitem {
	background-color:#F07766;
	margin:45px 30px 45px 30px;
	height:200px;
	width:200px;
	padding-top:0px;
	width:200px;
}
#portfolioitem .row {
	width:100%;
	height:120px;
}



#maincontent2 #portfolioitem img {
	max-width: 100%;
	height:138px;
}

#maincontent3 {
	top:0px;
}

 #maincontent3 #profielitem {
	margin-left:35px;
	margin-top:35px;
}

#profielitem img {
	width:700px;
	height:550px;
}

#profielitem .readmorebutton {
	position: absolute;
	left:450px;
	top:25px;

}

#maincontent4 {
	top:0px;
	padding-bottom:50px;
	height:auto;
}

#maincontent4 #rightcontent4 {
	height:100%;
	background-image: url(img/wood.jpeg); 
	background-size: cover;
	outline:2px solid grey;

}
#maincontent4 #blogitem {
	width: 100%;
	height:200px;
	padding-top:25px;
	margin-top:20px;
}

#maincontent4 #blogitem:last-child {
	padding-top:130px;
}

#blogitem img {

}

#blogitem:last-child button {
	top:133px;
}
#contact {
	width: 100%;
	height:550px;
	position: relative;
	top:110px;
}

#contactform {
	width: 100%;
	height:100%;
	position: absolute;
	background-color:#fff;
	padding-left:0px;
	

}

#footer {
	height: 150px;
	position: fixed;
	width: 100%;
	background-color: #625E55;
	border-top:5px solid grey;
	bottom:0;
	}



#footer ul li {
 	list-style-type: none;
 	display: inline;

 }

 #footer ul li a {
 	color:#fff;
 	font-family: RalewayRegular;
 }

 #footer ul li img {
 	width:45px;
 	height:45px;
 	
 }

#footer .row div {
 	display: inline-block;
 	height:100%;
 }

 #socialmediaicons {
 	width:100%;
 	height:100%;

 }

 #footer #socialmediaicons li {
 	margin-top:5px;
 	width:45px;
 	height:45px;
 	position: relative;
 	top:27px;
 	margin-right:5px;
 	margin-left:5px;
 	
 }







}








